extend base.pug

block  styles  
      style 
           include ../statics/css/about.css
     
block content     
    div#container1 
        div.aboutimg
            p Dance 
        p.info Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam nostrum at voluptate! Quidem vero incidunt ipsum veniam, quae tenetur molestias id nam distinctio quo amet repudiandae quibusdam optio dolor cum iure omnis, porro saepe quos aliquid nisi blanditiis atque, debitis dolore. Mollitia eum ipsum ducimus illum cumque dolorum id, quaerat harum facilis! Voluptatibus architecto praesentium in dolores, eveniet doloremque ipsam ut fuga. Rem itaque dolore impedit dignissimos voluptatum, vitae voluptates minima esse atque, minus corporis neque similique sequi quo aliquid. Porro, ratione voluptatibus quos quam dolorum repellat, totam iste voluptates unde alias natus laborum. Molestias minus voluptatum fugit debitis vel?    
        div.imgbox
          div#box1.samebox
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZQiCnTfkf9Ias4U0gVKYJ1yJIeATYgnwKmB3Y1KOPdSVT3Ovn3j7c_ZhRdpNvKTi55xQ&usqp=CAU", alt="")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, numquam!
          div#box2.samebox  
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnMZSx2md6JQKqE7Z1g1NGOo-o0kdBvYJz-A&usqp=CAU", alt="")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, voluptatum?
          div#box2.samebox  
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7VekAMZ6NvrSY11fOLyhWKjxKIAu4YmqOwA&usqp=CAU", alt="")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, dolores!
          div#box1.samebox
            img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZQiCnTfkf9Ias4U0gVKYJ1yJIeATYgnwKmB3Y1KOPdSVT3Ovn3j7c_ZhRdpNvKTi55xQ&usqp=CAU", alt="")
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, beatae!
          