extend base.pug


block  styles 
           style 
             include ../statics/css/home.css

block content 
     div#contant                
            section#sec1           
                    div#im2    
                         img(src="https://i.pinimg.com/originals/2b/81/cd/2b81cd28679b1e2fc7ba653b6104d407.png", alt="error")
                       
                    div#hello
                       p  Hello !
                       p.secondpara Welcome To Dance Acedemy
                       div
                          button.btn2 ENROLL NOW 
                    div.sideimg            
                        //- img(src="https://www.kindpng.com/picc/m/63-631502_transparent-dance-silhouette-clipart-dance-silhouette-png-png.png", alt="")
                  
                        img(src="https://www.pngplay.com/wp-content/uploads/13/Dance-Music-PNG-Clipart-Background.png", alt="")
                  



                     

            section#sec2        
                    div.ab  ABOUT 

                    div.contant2
                     | Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut animi commodi dolorem voluptatem nemo dicta eveniet mollitia dolor fugit sequi minima pariatur, soluta ab assumenda explicabo magnam voluptatum repellat perspiciatis possimus laborum amet itaque, labore modi veniam! Ullam tenetur quas eius praesentium, voluptatum sequi? Pariatur deleniti nemo voluptate nulla similique?
                     | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit ratione obcaecati commodi sapiente distinctio veritatis, fugiat tenetur iste libero eveniet, sed eos repellat excepturi eaque nobis eius aperiam unde placeat cumque consequatur? Sint cupiditate ex sunt quasi voluptatibus suscipit eius temporibus illo, reiciendis dolor doloribus dolore placeat aperiam ducimus animi voluptate quibusdam reprehenderit totam quidem laboriosam! Consequatur, architecto tempora suscipit nostrum culpa earum sed dolore voluptatibus voluptates adipisci dicta voluptatum vel, veritatis placeat. Doloribus dolorum dignissimos commodi, unde ducimus excepturi!
